
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Body */
.body {
    margin: 20px;
    font-family: 'Montserrat', sans-serif;
}


/* Header */
.header {
    display: grid;
    padding: 60px;
    height: 700px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;

    /*
    background-image: url(../img/portada.jpg);
    background-position: ;
    filter: brightness(30%);
    width: 100%;
    height: 700px; 
    */
}


.header::before {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/portada.jpg);
    content: "";
    width: 100%;
    height: 700px;
    filter: brightness(30%) blur(2px);
}

.header_div-container {
    position: relative;
}



/* Nav */
.nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 70px;
}

.nav_ul-logo {
    display: flex;
    color:rebeccapurple;
}

.nav_ul-logo label {
    font-size: 22px;
    font-weight : 600;
}

.nav_ul-button {
    display: flex;
}

.nav_buttom-seguir {
    border-radius: 15px;
    background-color: dimgray;
    width: 150px;
    height: 30px;
    color: white;
    border: none;
    margin-right: 5px;
}

.nav_buttom-atras {
    border-radius: 15px;
    background-color: mediumpurple;
    width: 100px;
    height: 30px;
    color: white;
    border: none;
}

/* Div */
.div_text {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 90px;
}


.div_h1-text {
    color: white;
}



/* Section */
.section {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: mediumpurple;
    padding: 20px 20px 0 20px;
}

.section_div-textos {
    display: flex;
    justify-content: flex-end;
    margin-left: 10px;
    padding-right: 20px;
}

.section_div-textos div {
    width: 70%;
}

.section_titulo {
    color: white;
    font-size: 24px;
    font-weight: 500;
    margin-top:40px;
    margin-bottom: 8px;
}

.section_texto {
    color: rgb(199, 199, 199);
    font-size: 16px;
}

.section_button-vermas {
    background-color: rgba(24, 212, 165, 0.863);
    border-radius: 15px;
    width: 100px;
    height: 30px;
    border: none;
    color: white;
    margin-top: 30px;
}

.section_div-img {
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: 10px;
}



/* Footer */
.footer {
    display: grid;
    background-color: lightgray;
    padding: 40px;
    
}

.footer_div-contenedor {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between ;
}

.footer_div-ht-titulo {
    font-size: 17px;
    color: gray;
    margin-bottom: 20px;
}

.footer_div-ht-texto {
    font-size: 14px;
    color: gray;
}